.container
  .row
    %h1
      Automatically import current 42 cursus cadets
  %br
  .row
    = form_for :cadet, :url => {:controller => 'cadet', :action => 'import_cadets_fremont'} do |f|      
      / %br
      = submit_tag :import, class: "btn btn-primary"
  %br
  %br
  %br
  .row
    %h1
      Manually add a cadet to the datastore
  %br
  .row
    = form_for :cadet, :url => {:controller => 'cadet', :action => 'create'} do |f|      
      
      = label_tag :cadet_name, "Full Name"
      .input-group
        = text_field_tag :name, "", placeholder: "Xavier Niel", class: "form-control"

      %br
      = label_tag :cadet_login, "Login"
      .input-group
        = text_field_tag :login, "", placeholder: "xniel", class: "form-control"

      %br
      = submit_tag :submit, class: "btn btn-primary"

