#filterrific_results
  -@cadets.each do |elem|
    = form_for :list, :url => {:controller => 'snail_mail', :action => 'select_cadet'} do |f|      
      %li.list-group-item
        .input-group
          = hidden_field_tag :cadet_login, "", value: "#{elem.login}", class: "form-control hidden"
        .col-12.text-center
          .col-auto
            = "#{elem.name} ———"
            = "#{elem.login}"

          - if @selected_cadets.index {|x| x.id == elem.id} == nil
            = submit_tag :+, class: "submit col-auto"
          - else
            .submit.col-auto.bg-success
              ✓