#filterrific_results
  -@cadets.each do |elem|
    = form_for :list, :url => {:controller => 'snail_mail', :action => 'select_cadet'} do |f|      
      %li.list-group-item
        .input-group
          = hidden_field_tag :cadet_login, "", value: "#{elem.login}", class: "form-control hidden"
        .col-9
          = "#{elem.name} | #{elem.login}"          
        - if @selected_cadets.index {|x| x.id == elem.id} == nil
          = submit_tag :add, class: "submit col-3"
        - else
          .submit.col-3.bg-success
            ✓