.container  
  = form_for_filterrific @filterrific do |f| 
    .row
      = text_field :search_query, "", placeholder: "Search for name...", class: "col-12 filterrific-periodically-observed", style: "height: 60px; font-size: 22px;", autofocus: true
  %br        
  %br        
  .row
    .col-6
      %h2.txt_center
        Searched Cadets
      


      %ul.list-group
        = render "snail_mail/cadets_results"

    .col-6
      %h2.txt_center
        = "Selected Cadets (#{@selected_cadets.count})"
      %ul.list-group
        -@selected_cadets.each do |elem|
          = form_for :list, :url => {:controller => 'snail_mail', :action => 'deselect_cadet'} do |f|      
            %li.list-group-item
              .input-group
                = hidden_field_tag :cadet_login, "", value: "#{elem.login}", class: "form-control hidden"
              .col-12.text-center
                .col-auto
                  = "#{elem.name} ———"
                  = "#{elem.login}"
                = submit_tag :remove, class: "submit btn-danger col-auto"
  



