.container
  .row         
    %input.col-12{type: "text", placeholder: "Search for name...", style: "height: 60px; font-size: 22px;"}            
  %br        
  .row
    .col-6
      %h2.txt_center
        Cadets
      


      %ul.list-group
        -@cadets.each do |elem|
          = form_for :list, :url => {:controller => 'snail_mail', :action => 'select_cadet'} do |f|      
            %li.list-group-item
              .input-group
                = hidden_field_tag :cadet_login, "", value: "#{elem.login}", class: "form-control hidden"
              .col-9
                = "#{elem.name} | #{elem.login}"
              = submit_tag :submit, class: "submit col-3"

    .col-6
      %h2.txt_center
        Selected Cadets
      %ul.list-group
        -@selected_cadets.each do |elem|
          = form_for :list, :url => {:controller => 'snail_mail', :action => 'deselect_cadet'} do |f|      
            %li.list-group-item
              .input-group
                = hidden_field_tag :cadet_login, "", value: "#{elem.login}", class: "form-control hidden"
              .col-9
                = "#{elem.name} | #{elem.login}"
              = submit_tag :remove, class: "submit btn-danger col-3"
  
:javascript
    $(document).ready( function() {      
    
    } );



